<section id="contact">
  <div class="container">
    <h3 class="text-center text-uppercase">contact us</h3>
    <div class="row">
      <div class="col-sm-12 col-md-6 col-lg-3 my-5">
        <div class="card border-0">
          <div class="card-body text-center">
            <i class="fa fa-phone fa-5x mb-3" aria-hidden="true"></i>
            <h4 class="text-uppercase mb-5">call us</h4>
            <p>+374XXXXXXXX</p>
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-md-6 col-lg-3 my-5">
        <div class="card border-0">
          <div class="card-body text-center">
            <i class="fa fa-map-marker fa-5x mb-3" aria-hidden="true"></i>
            <h4 class="text-uppercase mb-5">Office loaction</h4>
            <address>XXXX,XXXX,Yerevan,Armenia </address>
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-md-6 col-lg-3 my-5">
        <div class="card border-0">
          <div class="card-body text-center">
            <i class="fa fa-comment fa-5x mb-3" aria-hidden="true" (click)="startChat()"></i>
            <h4 class="text-uppercase mb-5">Online chat</h4>
            <address></address>
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-md-6 col-lg-3 my-5">
        <div class="card border-0">
          <div class="card-body text-center">
            <i class="fa fa-globe fa-5x mb-3" aria-hidden="true"></i>
            <h4 class="text-uppercase mb-5">E-mail</h4>
            <p>sahakyan.i1997@gmail.com</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
